.tabs-wrapper {
    background: #39b54a;
    height: 40px;
    color: white;
    margin-bottom: 30px;
}
.tabs {
    display: flex;
    align-items: center;
    list-style-type: none;

}
.tab {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    }