.header{
    background: #39b54a;
    
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.title {
    font-weight: 400;
}